@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    line-height: 120%;

    background-color: #4a4a4a;
}

/*articles*/
#content {
    list-style-type: none;
}

.article img {
    float: left;
}

.article h2 {

}

.article p {

}

/*--------------------------*/

.container {
    height: 100%;
    border: #fff solid 1px;
    margin: 0px 300px 0px 10px;
    padding: 5px;
    display: list-item;
}

a {
    color: white;
    text-decoration: none;
    transition: all.6s ease;
    -moz-transition: all.6s ease;
    -ms-transition: all.6s ease;
}

#index-button {
    padding: 0 !important;
}

#index-button img {
    height: 80px;
}

.selected {
    color: red;
    font-size: 1.2em;
}

.navbar { 
    background: #000;
    height: 80px; 
    width: 100%;
    border-bottom: 2px solid #8d8200;
    overflow: hidden;
  }
  
  .navbar ul {
    height: 80px;
    list-style: none;
    margin: 0 auto; 
    padding: 0;
  }
  
  .navbar ul li {
    font-size: 1.3em;
    color: #fff;
    display: inline-block; 
    height: 80px;
    line-height: 80px; 
    list-style: none;
    padding: 0 20px;
    transition: background .5s; 
    vertical-align: middle;

    /*border: solid 1px yellow;*/
  }

footer {
    border-top: 2px solid #8d8200;

    position: absolute;
    bottom: 0;
    width: 100%;

    font-size: 1em;
    font-family: "Segoe UI", sans-serif;
    color: white;


    background-color: #1f1f1f;
    min-height: 50px;

    float: left;
}

.page-wrap:after {
    content: "";
    display: block;
}

footer, .page-wrap:after {height: 10px}

.page-wrap {
    min-height: 95%;
    margin-bottom: -10px;
}